@page "/categoria/details"
@using Microsoft.EntityFrameworkCore
@using GestaoLoja.Entities
@inject IDbContextFactory<GestaoLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Categoria</h2>
    <hr />
    @if (categoria is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@categoria.Nome</dd>
            <dt class="col-sm-2">Ordem</dt>
            <dd class="col-sm-10">@categoria.Ordem</dd>
            <dt class="col-sm-2">UrlImagem</dt>
            <dd class="col-sm-10">@categoria.UrlImagem</dd>
            <dt class="col-sm-2">Imagem</dt>
            <dd class="col-sm-10">@categoria.Imagem</dd>
        </dl>
        <div>
            <a href="@($"/categoria/edit?id={categoria.Id}")">Edit</a> |
            <a href="@($"/categoria")">Back to List</a>
        </div>
    }
</div>

@code {
    private Categoria? categoria;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        categoria = await context.Categorias.FirstOrDefaultAsync(m => m.Id == Id);

        if (categoria is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
